# Applied AI 6

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("./salary_and_population.csv").drop('Unnamed: 4', axis=1)
print(len(df))
df.head()

85

               Region_RU           Region_EN  AVG_Salary  Population
0         Алтайский край        Altai Region       25960      218866
1       Амурская область         Amur Region       43156      793194
2  Архангельская область  Arkhangelsk Region       47526     1144119
3   Астраханская область    Astrakhan Region       32166     1014065
4   Белгородская область     Belgorod Region       31163     1547418

In [7]:
skip_reg = ['Magadan Region', 'St Petersburg', 'Tula Region']

for item in skip_reg:
    df = df[df['Region_EN'] != item]

print(len(df))
df.head()

82

               Region_RU           Region_EN  AVG_Salary  Population
0         Алтайский край        Altai Region       25960      218866
1       Амурская область         Amur Region       43156      793194
2  Архангельская область  Arkhangelsk Region       47526     1144119
3   Астраханская область    Astrakhan Region       32166     1014065
4   Белгородская область     Belgorod Region       31163     1547418

In [8]:
df['AVG_Salary'].mean()

37887.78048780488

In [9]:
df['AVG_Salary'].median()

32319.5

In [10]:
df['AVG_Salary'].var(ddof = 0)

223577820.31766802

In [11]:
df['AVG_Salary'].std(ddof = 0)

14952.518861973324