In [39]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [40]:
df_candy = pd.read_csv('./candy-data.csv')

predictors = ['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent', 'pricepercent']

df_candy_test = pd.read_csv('./candy-test.csv')

df_candy = df_candy[df_candy['competitorname'] != 'Boston Baked Beans']
df_candy = df_candy[df_candy['competitorname'] != 'Dum Dums']
df_candy = df_candy[df_candy['competitorname'] != 'Fruit Chews']

print(f"Length = {len(df_candy)}")

df_candy.head()

Length = 67

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,Y
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1

In [41]:
print(len(df_candy_test))
df_candy_test.head()

15

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,Y
0,Sugar Babies,0,1,1,0,0,0,1,0,1,0.647364,0.7670,0
1,Sugar Daddy,1,0,0,0,1,0,1,0,0,0.418000,0.3250,0
2,Super Bubble,0,1,0,0,0,0,0,0,0,0.162000,0.1160,0
3,Swedish Fish,0,1,0,0,0,0,0,0,1,0.604000,0.7550,1
4,Tootsie Pop,1,0,0,0,0,0,0,0,0,0.876560,0.5654,1

In [42]:
pd.concat([df_candy_test[df_candy_test['competitorname'] == 'Tootsie Roll Midgies'], \
          df_candy_test[df_candy_test['competitorname'] == 'Trolli Sour Bites']]).head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,Y
6,Tootsie Roll Midgies,1,0,0,0,0,0,0,0,1,0.174,0.011,0
8,Trolli Sour Bites,0,1,0,0,0,0,0,0,1,0.313,0.255,0

In [46]:
X = np.zeros((len(df_candy), len(predictors)))
for num, p in enumerate(predictors):
    X[:,num] = df_candy[p]
    
X_test = np.zeros((len(df_candy_test), len(predictors)))
for num, p in enumerate(predictors):
    X_test[:,num] = df_candy_test[p]
    
Y = np.array(df_candy['Y']).reshape(-1,1)

candy_model = LogisticRegression(random_state=2019, solver='lbfgs').fit(X, Y)

Y_pred = list(candy_model.predict(X_test))
Y_real = list(df_candy_test['Y'])

Y_roc = list(candy_model.predict_proba(X_test)[:,1])

print(Y_pred)
print(Y_real)
print(candy_model.predict_proba(X_test)[8])

[0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1]
[0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
[0.6199793 0.3800207]

/home/dormant/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [47]:
tn, fp, fn, tp = metrics.confusion_matrix(Y_real, Y_pred).ravel()
precision = tp / (tp + fp)
recall = tp / (tp + fn)
print(precision, recall)

0.5 0.6

In [49]:
print(f"ROC AUC SCORE {metrics.roc_auc_score(Y_real, Y_roc)}")

fpr, tpr, thresh = metrics.roc_curve(Y_real, Y_roc)
ans = metrics.auc(fpr, tpr)

print(f"AUC standalone {ans}")

ROC AUC SCORE 0.8799999999999999
AUC standalone 0.8799999999999999