# Pulsar

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./pulsar.csv')
print(len(df))
df.head()

202

,mip,stdip,ekip,sip,mc,stdc,ekc,sc,target
0,85.523438,36.694040,0.733149,2.476574,1.957358,18.373467,10.403406,114.392908,0
1,84.804688,42.764263,0.737207,1.028280,1.005853,12.100228,15.973736,291.146142,0
2,84.742188,40.007274,1.368957,3.812073,5.736622,32.047311,5.979603,36.147975,1
3,91.828125,34.111744,1.446682,5.265289,3.741639,25.317370,7.235101,53.582074,1
4,88.437500,37.811777,0.689216,2.035294,2.415552,18.027953,8.828613,86.799894,1

In [11]:
ndf = df.copy()
pred = list(df.columns)[:-1]
print(pred)

for col in pred:
    cur = ndf[col]
    ndf[col] = cur.apply(lambda x: (x - cur.min()) / (cur.max() - cur.min()))
    
ndf.head()

['mip', 'stdip', 'ekip', 'sip', 'mc', 'stdc', 'ekc', 'sc']

,mip,stdip,ekip,sip,mc,stdc,ekc,sc,target
0,0.198230,0.098296,0.178383,0.248432,0.010362,0.106567,0.398322,0.146317,0
1,0.116814,0.217832,0.180137,0.139098,0.004327,0.040225,0.594042,0.368852,0
2,0.109735,0.163541,0.453250,0.349251,0.034330,0.251172,0.242886,0.047805,1
3,0.912389,0.047445,0.486852,0.458957,0.021678,0.180000,0.286999,0.069755,1
4,0.528319,0.120307,0.159390,0.215119,0.013267,0.102913,0.342990,0.111577,1

In [12]:
ndf['mip'].mean()

0.30049066853588013